src/main/mule/practice.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:american-flights-api="http://www.mulesoft.org/schema/mule/american-flights-api" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/american-flights-api http://www.mulesoft.org/schema/mule/american-flights-api/current/mule-american-flights-api.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="0c3187e6-ffee-4e87-8969-dc25256f8bcd" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<american-flights-api:config name="American_Flights_API_Config" doc:name="American Flights API Config" doc:id="33784ffc-8ce4-4ea7-a0ee-94667c5e50b1" property_host="training4-american-api.cloudhub.io" property_port="80" property_protocol="HTTP" />
	<american-flights-api:config name="American_Flights_API_Config1" doc:name="American Flights API Config" doc:id="ad7439f2-cc39-4237-8286-8e62a91c88c2" property_host="training4-american-api.cloudhub.io" property_port="80" property_protocol="HTTP" />
	<flow name="practiceFlow" doc:id="001c40af-5a7d-425a-a306-62b349fa68bf" >
		<http:listener doc:name="Listener" doc:id="25007234-f9a9-4dc6-b71d-f67b30485b79" config-ref="HTTP_Listener_config" path="/connect"/>
		<set-payload value='#["Hello welcome to github"]' doc:name="Set Payload" doc:id="fd93be48-e9f0-4121-9aa5-703757e9ce38" />
	</flow>
</mule>
